[Desktop Entry]
Type=Application
Name=virtual-orch
Icon=virtual-orch
Exec=virtual-orch
Terminal=false
Categories=Midi;Music;Audio;AudioVideo;

X-AppImage-Name=virtual-orch
