[Desktop Entry]
Type=Application
Name=JordanAI
Icon=JordanAI
Exec=JordanAI
Terminal=false
Categories=Midi;Music;Audio;AudioVideo;

X-AppImage-Name=JordanAI
